<?xml version="1.0"?>
<launch>
  <node name="kinect" pkg="openni_camera" type="openni_node">
  </node>
  <node name="forward" pkg="embodied_attention" type="forward.py">
  </node>
  <node name="get_ray" pkg="embodied_attention" type="get_rays">
  </node>
    <arg name="port" default="/dev/ttyUSB0" />

  <!-- When you integrate into your platform, use the provided xacro macro to include
       the D46 URDF with your larger platform description, and have your platform's
       joint_state_publisher subscribe to the ptu state. -->
  <param name="robot_description" textfile="$(find flir_ptu_description)/urdf/example.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu">
    <param name="port" value="$(arg port)" />
    <remap from="/ptu/cmd" to="cmd" />
    <remap from="state" to="/joint_states" />
  </node>
</launch>
