<?xml version="1.0"?>
<launch>
  <node name="forward" pkg="embodied_attention" type="forward.py">
    <param name="saliency_model_file" value="$(find embodied_attention)/model/model.hdf5"/>
    <param name="saliency_weight_file" value="$(find embodied_attention)/model/weights.hdf5"/>
  </node>
</launch>
