<?xml version="1.0"?>
<launch>
  <node name="forward" pkg="embodied_attention" type="forward.py" output="screen">
    <param name="saliency_file" value="$(find embodied_attention)/model/model.ckpt"/>
    <param name="saliency_width" value="256"/>
    <param name="saliency_height" value="192"/>
    <param name="network_input_width" value="256"/>
    <param name="network_input_height" value="192"/>
    <remap from="/rgb/image_raw" to="/icub_model/left_eye_camera/image_raw"/>
  </node>
  <node name="saccade" pkg="embodied_attention" type="saccade.py">
  </node>
  <node name="attention" pkg="embodied_attention" type="attention.py">
  </node>
</launch>
