<?xml version="1.0"?>
<launch>
  <arg name="gpu" default="0" />
  <node name="saliency" pkg="embodied_attention" type="saliency.py">
    <param name="use_gpu" value="$(arg gpu)"/>
    <param name="network_input_width" value="320"/>
    <param name="network_input_height" value="240"/>
    <param name="clip" value="False"/>
  </node>
  <node name="webcam" pkg="usb_cam" type="usb_cam_node">
    <remap from="/webcam/image_raw" to="/rgb/image_raw"/>
  </node>
  <node name="img_view" pkg="image_view" type="image_view">
    <remap from="/image" to="/saliency_map_image"/>
  </node>
</launch>
